{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true,
        "node": true,
        "vue/setup-compiler-macros": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/vue3-recommended",
        "@vue/typescript/recommended",
        // Add under other rules
        "@vue/prettier",
        "@vue/eslint-config-prettier",
        "@vue/eslint-config-typescript"
    ],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "plugins": [],
    "rules": {}
}