@import 'tailwind.css';

@font-face {
	font-family: 'mononoki-bold';
	src: url('../assets/fonts/mononoki-bold-webfont.woff2') format('woff2'), url('../assets/fonts/mononoki-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'mononoki-bold-italic';
	src: url('../assets/fonts/mononoki-bolditalic-webfont.woff2') format('woff2'),
		url('../assets/fonts/mononoki-bolditalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'mononoki-italic';
	src: url('../assets/fonts/mononoki-italic-webfont.woff2') format('woff2'), url('../assets/fonts/mononoki-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'mononoki';
	src: url('../assets/fonts/mononoki-regular-webfont.woff2') format('woff2'), url('../assets/fonts/mononoki-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.caret-input {
	caret-color: #71809600;
}

body {
	@apply cursor-default;
	@apply min-h-screen;
	@apply bg-dracula-background;

	font-family: 'mononoki-bold', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
	/* Code for Firefox */
	@apply text-white;
	@apply bg-dracula-purple;
}

::selection {
	@apply text-white;
	@apply bg-dracula-purple;
}

.fade-enter-from,
.fade-leave-to {
	transform: translateX(100%);
}
